In [1]:
#LIBRARY INSTALLATION COMMAND ON ANACONDA PROMPT
#COMMAND : conda install ipykernel jupyter -y
print(20328+9834)

30162

In [2]:
#how to upload code on github ??
#command to upload email : git config --global user.email eraniruddhverma2023@gmail.com
#command to upload username: git config --global user.name Anirudh-Verma

In [10]:
#HOW TO REPRESENT TEXT(STRING) ON PYTHON ALSO KNOWN AS A RAW OUTPUT
#we use double quotes
# for example
"ANIRUDH VERMA"

'ANIRUDH VERMA'

In [12]:
#HOW TO REPRESENT STRING INTEGER
print("ANIRUDDH VERMA")
print(1,2,3)
print('brahmhastra',2022)

ANIRUDDH VERMA
1 2 3
brahmhastra 2022

In [14]:
#how to print multiple line using print statement 
print("this is a line")
print('another line')
print('and the final line')

this is a line
another line
and the final line

In [20]:
#how to print variables 
#example 1:
a,b,c=10,20,50
print(a)
print(b,c)


#example 2:
city='lucknow'
state= 'uttar pradesh'
name='anirudh'
print(city,state,name)

10
20 50
lucknow uttar pradesh anirudh

In [22]:
#how to take user input using input() function
food= input()
print(food )

momo

In [23]:
# datatypes in python:
# 1. integer , 2. float , 3. boolean , 4.string , 5.nonetype ,DATA STRUCTURES:- 1. LIST , 2.SET , 3. TUPLE , 4. DICTIONARIES ***MOST IKMPORTANT***  
# integer - 1,2,3,0,-1,-2,-3
# float - 1.23, 7.3e10, -.31
# string - 'HELLO', "HELLO",'''HELLO''' *** MOST IMPORTANT***

In [29]:
#how to check datatype of variables using type() functions 
#example:1
a='apple'
print(type(a))


#example:2
b=1010
print(type(b))

<class 'str'>
<class 'int'>

In [30]:
#TYPE-CASTING
#exmaple1:

a="300"
print(a,type(a))
b=int(a)
print(b,type(b))

300 <class 'str'>
300 <class 'int'>

In [31]:
a="300"
print(a,type(a))
a=int(a)
print(a,type(a))

300 <class 'str'>
300 <class 'int'>

In [32]:
#this code gives an error because a is not an integer so if we want to typecast a variable then it should be purely an integer
a="300+"
print(a,type(a))
a=int(a)
print(a,type(a))

300+ <class 'str'>

ValueError: invalid literal for int() with base 10: '300+'

In [35]:
# ***NOTE: input taken by the user is always in the form of string ****

#EXAMPLE 1:

a=input("enter A=")
b=input("enter B=")
print(type(a),type(b))
a=int(a)
b=int(b)
print(a+b)
 

#EXAMPLE 2:
num1=int(input("enter num1 ="))
num2=int(input("enter num2 ="))
ans= num1*num2
print(ans)

<class 'str'> <class 'str'>
22
10