In [34]:
#LIBRARY INSTALLATION COMMAND ON ANACONDA PROMPT
#COMMAND : conda install ipykernel jupyter -y
print(20328+9834)

30162

In [35]:
#how to upload code on github ??
#command to upload email : git config --global user.email eraniruddhverma2023@gmail.com
#command to upload username: git config --global user.name Anirudh-Verma

In [36]:
#HOW TO REPRESENT TEXT(STRING) ON PYTHON ALSO KNOWN AS A RAW OUTPUT
#we use double quotes
# for example
"ANIRUDH VERMA"

'ANIRUDH VERMA'

In [37]:
#HOW TO REPRESENT STRING INTEGER
print("ANIRUDDH VERMA")
print(1,2,3)
print('brahmhastra',2022)

ANIRUDDH VERMA
1 2 3
brahmhastra 2022

In [38]:
#how to print multiple line using print statement 
print("this is a line")
print('another line')
print('and the final line')

this is a line
another line
and the final line

In [39]:
#how to print variables 
#example 1:
a,b,c=10,20,50
print(a)
print(b,c)


#example 2:
city='lucknow'
state= 'uttar pradesh'
name='anirudh'
print(city,state,name)

10
20 50
lucknow uttar pradesh anirudh

In [40]:
#how to take user input using input() function
food= input()
print(food )

12

In [41]:
# datatypes in python:
# 1. integer , 2. float , 3. boolean , 4.string , 5.nonetype ,DATA STRUCTURES:- 1. LIST , 2.SET , 3. TUPLE , 4. DICTIONARIES ***MOST IKMPORTANT***  
# integer - 1,2,3,0,-1,-2,-3
# float - 1.23, 7.3e10, -.31
# string - 'HELLO', "HELLO",'''HELLO''' *** MOST IMPORTANT***

In [42]:
#how to check datatype of variables using type() functions 
#example:1
a='apple'
print(type(a))


#example:2
b=1010
print(type(b))

<class 'str'>
<class 'int'>

In [43]:
#TYPE-CASTING
#exmaple1:

a="300"
print(a,type(a))
b=int(a)
print(b,type(b))

300 <class 'str'>
300 <class 'int'>

In [44]:
a="300"
print(a,type(a))
b=int(a)
print(a,type(a))

300 <class 'str'>
300 <class 'str'>

In [45]:
#this code gives an error because a is not an integer so if we want to typecast a variable then it should be purely an integer
a="300+"
print(a,type(a))
a=int(a)
print(a,type(a))

300+ <class 'str'>

ValueError: invalid literal for int() with base 10: '300+'

In [ ]:
# *** note: input taken by the user is always in the form of string ****

#EXAMPLE 1:

a=input("enter A=")
b=input("enter B=")
print(type(a),type(b))
a=int(a)
b=int(b)
print(a+b)
 

#EXAMPLE 2:

num1=int(input("enter num1 ="))
num2=int(input("enter num2 ="))
ans= num1*num2
print(ans)

<class 'str'> <class 'str'>
26
270

## operators
##### 1.arithmatic operators 
##### 2.assignment operators
##### 3.comparison operators
##### 4.logical operators 
##### 5.membership operators
##### 6.instance operators
##### 7.bitwise operators

In [ ]:
# ARITHMATIC OPERATOR
x=10
y=3
print(x+y)
print(x-y)
print(x*y)
print(x/y)       # FLOAT DIVISION 
print(x//y)      # INTEGER DIVISION
print(x%y)       # REMAINDER
print(x**y)      # EXPONENTIAL

13
7
30
3.3333333333333335
3
1
1000

In [ ]:
# ASSIGNMENT OPERATORS
X=10      #ASSIGNMENT
print(X)
X+=5      #UPDATE
print(X)
X-=10
print(X)
X*=3
print(X)

10
15
5
15

In [ ]:
# COMPARISON OPERATORS 
x=10 
y=5
x>10
y<4

False

In [ ]:
print('Apple'=='Apple')

True

In [ ]:
# LOGICAL OPERATORS
# and , or , not 

#EXAMPLE 1: and OPERATOR
x=10 
print(x>5 and x<100)

#EXAMPLE 2: OR OPERATORS 
X=10
print(X>5 or X<100)

#EXAMPLE 3: not OPERATOR
x=10
print(x not in range(12))

True
True
False

In [ ]:
# MEMBERSHIP OPERATORS 
#EXAMPLE 1: in OPERATOR
a=[1,3,6,2,5,8]
2 in a

True

# FORMATTED STRINGS AND MESSAGE

In [ ]:
#EXAMPLE 1:WAP to print the area using different methods

L=10.5
B=6.10
area = L*B
print(L,B,area)                            #normal print statement
print("{} * {} = {}".format(L,B,area))     #used in version 3.5 
print(f'{L} * {B} = {area}')               # f denotes formatted strings 
print(f'{L} * {B} = {area:.1f}')           # .1f gives 1 value after the decimal 
print(L,'IS MULTIPLIED BY',B,'=',area)

10.5 6.1 64.05
10.5 * 6.1 = 64.05
10.5 * 6.1 = 64.05
10.5 * 6.1 = 64.0
10.5 IS MULTIPLIED BY 6.1 = 64.05