In [2]:
#DEFINING LISTS IN PYTHON

#EXAMPLE 1: LIST OF STRINGS 
list1=['nikhlesh','aman','rahul','devansh','rishabh']

#EXAMPLE 2: LIST OF NUMBERS 
list2=[1,2,3,4,5,25,25,100]

#EXAMPLE 3: LIST OF MIXED DATA
list3=['ravi',10,20,30,92,43,'B', False,5.786]

# EXAMPLE 4: LIST OF LIST
lsit4=[[1,2,3],[3,4,6],[34,3,6,2,96]]

In [5]:
x=[] #EMPTY LIST
y=[1]*10 #DUPLICATED LIST
print(y)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [6]:
y=[1,2,3]*10
print(y)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [8]:
z= [1,2,3]+[2,3,2]  #CONCATENATED LIST 
print(z)

[1, 2, 3, 2, 3, 2]

In [12]:
a=[1,2,3,4,5,6,7,8,9,10]
print(a)
print(list(range(1,101)),end='')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [13]:
a=list(range(2,101,2))
print(a,end='')

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

# LIST HAS 11 METHODS 
- ADDITION
     - APPEND
     - INSERT
     - EXTEND
- DELETION
     - REMOVE
     - POP 
     - CLEAR
- UTILITY
    - COUNT
    - INDEX
    - COPY
    - SORT
    - REVERSE

In [14]:
movies=[]

In [15]:
movies.append('black panther')

In [17]:
fav_movie=input('enter your favoutrite movie')
movies.append('teen wolf')
print(movies)

['black panther', 'teen wolf']

In [19]:
for i in range(5):
      movies.append(input('enter another movies'))
print(movies)

['black panther', 'teen wolf', 'black panther', 'teen wolf', 'it', 'it 2', 'slender man']

In [20]:
for movie in movies:
      print(f'->{movie.upper()}')

->BLACK PANTHER
->TEEN WOLF
->BLACK PANTHER
->TEEN WOLF
->IT
->IT 2
->SLENDER MAN

In [23]:
movies[2]='shazam'  # replacing a value in the string
print(movies)

['black panther', 'teen wolf', 'shazam', 'teen wolf', 'it', 'it 2', 'slender man']

In [25]:
# inset function 
fruits=['apple','banana','cherry']
fruits.insert(1,'orange')
print(fruits)

['apple', 'orange', 'banana', 'cherry']

In [27]:
fruits=['apple','banana','cherry']
dry_fruits=['almonds','cashew','walnuts']
fruits.extend(dry_fruits)
print(fruits)

['apple', 'banana', 'cherry', 'almonds', 'cashew', 'walnuts']

In [33]:
fruit=['cherry','banana','apple','guava']
fruit.sort()
print(fruit)

movies.sort(reverse=True)
print(movies)
movies.sort()
print(movies)

['apple', 'banana', 'cherry', 'guava']
['teen wolf', 'teen wolf', 'slender man', 'shazam', 'it 2', 'it', 'black panther']
['black panther', 'it', 'it 2', 'shazam', 'slender man', 'teen wolf', 'teen wolf']

In [35]:
movies.remove('teen wolf')
print(movies)

['black panther', 'it', 'it 2', 'shazam', 'slender man']

In [37]:
if 'teen wolf' in movies:
      movies.remove()
print(movies)

['black panther', 'it', 'it 2', 'shazam', 'slender man']

In [38]:
movies.pop(3)

'shazam'

In [40]:
movies.pop()  # removes the last elemnt in the string

'it 2'

In [41]:
movies

['black panther', 'it']

In [44]:
movies.clear()
print(movies)

[]

In [45]:
x=[12,3,3,3,5,4,2,3,2,5,5,1,2,23,3,5,5,4,5,5,3,1,3,5,2,1,5,62,2]

In [46]:
x.reverse()
print(x)

[2, 62, 5, 1, 2, 5, 3, 1, 3, 5, 5, 4, 5, 5, 3, 23, 2, 1, 5, 5, 2, 3, 2, 4, 5, 3, 3, 3, 12]

In [47]:
x.count(5)

9

In [48]:
list(reversed('hello'))

['o', 'l', 'l', 'e', 'h']

In [50]:
x=[1,2,3,]
y=x   # COPY REFERENCE

In [51]:
x.append(10)
y.append(20)
print(x,y)

[1, 2, 3, 10, 20] [1, 2, 3, 10, 20]

In [53]:
z=x.copy()
z.append(100)
x.append(10)
print(x)
print(z)

[1, 2, 3, 10, 20, 100, 10]
[1, 2, 3, 10, 20, 100, 100]