# LOOPS 
### 1. FOR LOOP
   ###### USED FOR ITERATION
   ###### USED FOR TRAVERSAL 
   ###### NUMBER OF STEPS ARE KNOWN 
### 2. WHILE LOOP
   ###### USER INPUT
   ###### CONDITION BASED 
   ###### NUM OF STEPS NOT KNOWN

### 1. FOR LOOPS

In [4]:
# EXAMPLE 1:TRAVERSAL

x= [0,2,1,3,6,10]
for i in x:
      print(i)

#EXAMPLE 2: TRAVERSAL(WITH CUSTOM MESSAGE)

colors =['red','pink','purple']

for val in colors:
      print(f'we got {val}')
      
# EXAMPLE 3: TRAVERSAL USING RANGE FUNCTION 

x=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]
for i in range(1,31):
      print(i,end=',')

# EXAMPLE 4: TRAVERSAL USING RANGE FUNCTIONS AND EMOJIS 

x=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]
for i in range(1,31):
      print(i,end='✔✔')
print()
#EXAMPLE 5: HOW TO PRINT A TABLE 

for i in range(1,11):
      print(f'5 x {i} = {5*i}')

# EXAMPLE 6: RANGE START,STEP,STOP

for i in range(0,101,5):
      print(i,end=',')
print()
for i in range(10,0,-1):
      print(i,end=',')
print()

0
2
1
3
6
10
we got red
we got pink
we got purple
1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,1✔✔2✔✔3✔✔4✔✔5✔✔6✔✔7✔✔8✔✔9✔✔10✔✔11✔✔12✔✔13✔✔14✔✔15✔✔16✔✔17✔✔18✔✔19✔✔20✔✔21✔✔22✔✔23✔✔24✔✔25✔✔26✔✔27✔✔28✔✔29✔✔30✔✔
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
0,5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100,
10,9,8,7,6,5,4,3,2,1,

we got red
we got pink
we got purple

1😊2😊3😊4😊5😊6😊7😊8😊9😊10😊11😊12😊13😊14😊15😊16😊17😊18😊19😊20😊21😊22😊23😊24😊25😊26😊27😊28😊29😊30😊

1✔✔2✔✔3✔✔4✔✔5✔✔6✔✔7✔✔8✔✔9✔✔10✔✔11✔✔12✔✔13✔✔14✔✔15✔✔16✔✔17✔✔18✔✔19✔✔20✔✔21✔✔22✔✔23✔✔24✔✔25✔✔26✔✔27✔✔28✔✔29✔✔30✔✔

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

0,5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100,10,9,8,7,6,5,4,3,2,1,

In [4]:
# EXAMPLE 7: HOW TO PRINT INDEXES OF THE ELEMENT 
veg =['potato🥔','tomato🍅','onion🧅','cabbage🥬','carrot🥕']
for item in veg:
      print(item)

potato🥔
tomato🍅
onion🧅
cabbage🥬
carrot🥕

In [5]:
# EXAMPLE 8: HOW TO PRINT INDEXES OF THE ELEMENT USING ENUMERATE
veg =['potato🥔','tomato🍅','onion🧅','cabbage🥬','carrot🥕']
for item in enumerate(veg):
      print(item)

(0, 'potato🥔')
(1, 'tomato🍅')
(2, 'onion🧅')
(3, 'cabbage🥬')
(4, 'carrot🥕')

In [7]:
# EXAMPLE 9: HOW TO PRINT INDEXES OF THE ELEMENT USING ENUMERATE 
veg =['potato🥔','tomato🍅','onion🧅','cabbage🥬','carrot🥕']
for index,value in enumerate(veg):
      print(index ,value)

0 potato🥔
1 tomato🍅
2 onion🧅
3 cabbage🥬
4 carrot🥕

In [5]:
# EXAMPLE 10: PRINTING VALUES OF TWO DIFFERENT LISTS TOGETHER 
# NON-PYTHONIC WAY
veg =['potato🥔','tomato🍅','onion🧅','cabbage🥬','carrot🥕']
prices =['35','80','30','15','30']
for i in range(len(veg)):
      print(f'{veg[i]}--------💲💲{prices[i]}')

# PYTHONIC WAY
veg =['potato🥔','tomato🍅','onion🧅','cabbage🥬','carrot🥕']
prices =['35','80','30','15','30']
for v,p in zip(veg,prices):
      print(f'{v}--------💲💲{p}')

potato🥔--------💲💲35
tomato🍅--------💲💲80
onion🧅--------💲💲30
cabbage🥬--------💲💲15
carrot🥕--------💲💲30
potato🥔--------💲💲35
tomato🍅--------💲💲80
onion🧅--------💲💲30
cabbage🥬--------💲💲15
carrot🥕--------💲💲30

In [14]:
# EXAMPLE 11: PRINTING MOVIE NAME, RATING, YEAR, DIRECTOR

movie= ['shawshank redemption','the godfather','dark knight','pulp fiction']
rating=[9.2,9.2,9.0,8.8]
movie_yr=['1994','1972','2008','1994']
movie_dir=['Frank Darabont','Francis Ford Coppol','christopher nolan','quentin tarantino']
for m,r,y,d in zip (movie,rating,movie_yr,movie_dir):
      print(f'movie name- {m}---movie rating- {r}----movie year- {y}----movie director- {d}')

movie name- shawshank redemption---movie rating- 9.2----movie year- 1994----movie director- Frank Darabont
movie name- the godfather---movie rating- 9.2----movie year- 1972----movie director- Francis Ford Coppol
movie name- dark knight---movie rating- 9.0----movie year- 2008----movie director- christopher nolan
movie name- pulp fiction---movie rating- 8.8----movie year- 1994----movie director- quentin tarantino

### 2. NESTED-FOR LOOPS

In [17]:
# EXAMPLE 1: NESTED FOR LOOPS
for i in range(10):
      for i in range(10):
            print(i,end=' ')
      print()

0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9

### 3.BREAK AND CONTINUE

##### 1.BREAK STATEMENT

In [8]:
# EXAMPLE 1: BREAK STATEMENT

x=[1,2,3,4,0,0,5]
for i in x:
      if i==0:
            break
      print(i)

1
2
3
4

##### 2. CONTINUE STATEMENT

In [9]:
# EXAMPLE 2: CONTINUE STATEMENT
x=[1,2,3,4,0,0,5]
for i in x:
      if i==0:
            continue
      print(i)

## only use for memory optimisation

1
2
3
4
5

In [2]:
# METHOD 1: WAP TO CHECK WHETHER THE NUMBER IS PRIME NUMBER 
x=int(input("enter the number"))
count=0
for i in range(1,x+1):
      if x%i == 0:
            count+=1      
if count == 2:
      print('prime number')
elif count !=2:
      print('not prime')

not prime

In [1]:
# METHOD 2: WAP TO CHECK WHETHER THE NUMBER IS PRIME NUMBER 
num=11
for i in range(2,num):
      if num %i ==0:
            print('not prime')
            break
else:   #else block is only execute when for is broken
      print('prime')

prime

### 4. WHILE LOOP

In [3]:
# EXAMPLE 1:

x=10
while(x>0):
      print(x)
      x-=2

10
8
6
4
2

In [6]:
# EXAMPLE 2:
total=0
while True:
      num= int(input('enter a number'))
      if num == 0:
            break
      total+= num
print(f'total is {total}')

total is 36

In [4]:
#EXAMPLE 3:
book=[]
while True:
      name= input('enter the name: ')
      if name:
            book.append(name)
      else:
            break
print('these are your books')
print(book)

these are your books
['intro to algorithms', 'operating systems ', 'intoduction to database']

In [2]:
# WAP TO PRINT THE FIBBONACCI SERIES UPTO TO THE GIVEN NUMBER

num= 10
n1,n2=0,1
print('fibbonacci series:',n1,n2,end=',')
for i in range(2,num):
      n3=n1+n2
      print(n3,end=',')
      n1=n2
      n2=n3
print()

fibbonacci series: 0 1,1,2,3,5,8,13,21,34,