# TUPLE
- THERE ARE ONLY TWO FUNCTIONS

In [1]:
# TUPLE EXAMPLE 
my_tuple=(1,'hello',3.4)
print(my_tuple)

(1, 'hello', 3.4)

In [2]:
# nested tuple 
my_tuple = ("mouse",[8,4,6],[1,2,3])
print(my_tuple)

('mouse', [8, 4, 6], [1, 2, 3])

In [3]:
# this is known as tuple packing 
# a tuple can also be created without using a parenthesis
my_tuple = 3,4.6,"apple"
print(my_tuple)

(3, 4.6, 'apple')

In [4]:
# accessing tuple element using indexing
my_tuple = ('p','e','r','m','i','t')
print(my_tuple[0])
print(my_tuple[5])

p
t

In [5]:
# nested tuple
my_tuple = ('Mouse',[8,4,6],[1,2,3])
# nested index
print(my_tuple[0][3])
print(my_tuple[1][1])

s
4

In [6]:
# slicing
# Accessing tuple elements using slicing 
my_tuple = ('e','x','c','a','l','i','b','u','r')

In [7]:
# elements 2nd to 4th
# output -> ('x','c','a')
print(my_tuple[1:4])

('x', 'c', 'a')

In [8]:
# elements beginning to 2nd
print(my_tuple[:-7])

('e', 'x')

In [9]:
# elements 8th to end
print(my_tuple[7:])

('u', 'r')

In [10]:
# elements beginning to end
print(my_tuple[:])

('e', 'x', 'c', 'a', 'l', 'i', 'b', 'u', 'r')

In [11]:
# concatenation
print((1,2,3)+(4,5,6))

(1, 2, 3, 4, 5, 6)

In [17]:
# repeat 
print(('repeat',) * 3)

('repeat', 'repeat', 'repeat')

In [15]:
my_tuple = ('a','p','p','l','e')
print(my_tuple.count('p'))
print(my_tuple.index('l'))

2
3

# SET

In [18]:
# SET OF INTEGERS 
my_set = {1,2,3}
print(my_set)

{1, 2, 3}

In [19]:
# set of mixed integers
my_set = {1.0,"oye",(1,2,3)}
print(my_set)

{'oye', 1.0, (1, 2, 3)}

In [20]:
# creating a set

# set cannot have duplicates
my_set = {1,2,3,4,3,2}
print(my_set)

{1, 2, 3, 4}

In [24]:
# we can make set from a list 
my_set = set([1,2,3,2])
print(my_set)

{1, 2, 3}

In [26]:
# set cannot have mutable list 
# here [3,4] is a mutable list 
# this will cause an error 
my_set = {1,2,[3,4]}
print(my_set)

TypeError: unhashable type: 'list'

In [27]:
# creating an empty set 
a = set()

In [31]:
# set union

A = {1,2,3,4,5}
B = {4,5,6,7,8}
print(A|B)
print(A.union(B))
print(B.union(A))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [37]:
# set intersection 
print(A.intersection(B))
print(B.intersection(A))
print(A&B)

{4, 5}
{4, 5}
{4, 5}

In [40]:
# SET difference 
print(A-B)
print(B-A)
print(A.difference(B))
print(B.difference(A))

{1, 2, 3}
{8, 6, 7}
{1, 2, 3}
{8, 6, 7}

In [43]:
# SET SYMMETRIC DIFFERRENCE 
print(A^B)
print(B^A)
print(A.symmetric_difference(B))
print(B.symmetric_difference(A))

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

##### EXERCISE 2: create 2 sets of electric devices and perform set operations on them

In [46]:
electric1 = {"mobile","laptop","television","pendrives"}
electric2 = {"television","laptop","washing maching","refridgerator"}
print(electric1)
print(electric2)
print(electric1.union(electric2))
print(electric1.intersection(electric2))
print(electric1.difference(electric2))
print(electric1.symmetric_difference(electric2))

{'pendrives', 'mobile', 'laptop', 'television'}
{'washing maching', 'laptop', 'refridgerator', 'television'}
{'mobile', 'laptop', 'refridgerator', 'pendrives', 'washing maching', 'television'}
{'laptop', 'television'}
{'pendrives', 'mobile'}
{'mobile', 'refridgerator', 'pendrives', 'washing maching'}