# **TUPLES**
- **THERE ARE ONLY TWO FUNCTIONS**
    - **count()**
    - **index()**

### **EXAMPLE ON TUPLES**

In [1]:
# EXAMPLE 1: NORMAL TUPLE 
my_tuple=(1,'hello',3.4)
print(my_tuple)

(1, 'hello', 3.4)

In [2]:
# EXAMPLE 2: NESTED TUPLE  
my_tuple = ("mouse",[8,4,6],[1,2,3])
print(my_tuple)

('mouse', [8, 4, 6], [1, 2, 3])

In [2]:
# EXAMPLE 3: THIS IS KNOWN AS TUPLE PACKING
my_tuple = 3,4.6,"apple"
print(my_tuple)          # a tuple can also be created without using a parenthesis

(3, 4.6, 'apple')

#### **ACCESSING TUPLE ELEMENTS USING INDEXING**

In [4]:
# EXAMPLE 1: USING TUPLE INDEX 
my_tuple = ('p','e','r','m','i','t')
print(my_tuple[0])
print(my_tuple[5])

p
t

In [3]:
# EXAMPLE 2: USING NESTED TUPLE TO ACCESS NESTED INDEXING

# nested tuple
my_tuple = ('Mouse',[8,4,6],[1,2,3])
# nested index
print(my_tuple[0][3])
print(my_tuple[1][1])

s
4

##### **SLICING ON TUPLES**
   - **EXAMPLES ON ACCESING TUPLE INDEX USING SLICING**

In [5]:
my_tuple = ('e','x','c','a','l','i','b','u','r')

In [6]:
# EXAMPLE 1: ELEMENTS 2ND TO 4TH
# OUTPUT -> ('x','c','a')
print(my_tuple[1:4])

('x', 'c', 'a')

In [7]:
# EXAMPLE 2: ELEMENT FROM BEGINING TO 2ND
print(my_tuple[:-7])

('e', 'x')

In [8]:
# EXAMPLE 3: ELEMENT 8TH TO END
print(my_tuple[7:])

('u', 'r')

In [9]:
# EXAMPLE 4: ELEMENTS BEGINING TO END
print(my_tuple[:])

('e', 'x', 'c', 'a', 'l', 'i', 'b', 'u', 'r')

In [11]:
# EXAMPLE : HOW TO CONCATENATE TWO TUPLE 
print((1,2,3)+(4,5,6))

(1, 2, 3, 4, 5, 6)

In [11]:
# EXAMPLE : HOW TO REPEAT A TUPLE 
print(('repeat',) * 3)
print(('ANIRUDDH','VERMA')*5)

('repeat', 'repeat', 'repeat')
('ANIRUDDH', 'VERMA', 'ANIRUDDH', 'VERMA', 'ANIRUDDH', 'VERMA', 'ANIRUDDH', 'VERMA', 'ANIRUDDH', 'VERMA')

In [12]:
# EXAMPLE : HOW TO USE COUNT() NAD INDEX() FUNCTIONS ON TUPLES 

my_tuple = ('a','p','p','l','e')
print(my_tuple.count('p'))
print(my_tuple.index('l'))

2
3

# **SETS**

### **EXAMPLE ON SETS**

In [13]:
# EXMAPLE 1 : SET OF INTEGERS 
my_set = {1,2,3}
print(my_set)

{1, 2, 3}

In [15]:
# EXAMPLE 2: SET OF MIXED INTEGERS 
my_set = {1.0,"oye",(1,2,3)}
print(my_set)

{1.0, (1, 2, 3), 'oye'}

In [14]:
# EXAMPLE 3: CREATING A SET
# SET CANNOT CONTAIN A DUPLICATE VALUE
my_set = {1,2,3,4,3,2}
print(my_set)

{1, 2, 3, 4}

In [16]:
# EXMPALE 4: WE CAN MAKE A SET FROM A LIST 
 
my_set = set([1,2,3,2])
print(my_set)

{1, 2, 3}

##### - A SET CANNOT HAVE A MUTABLE LIST 
##### - HERE [3,4] IS A MUTALBLE LIST
##### - THIS WILL CAUSE AN ERROR

In [18]:
my_set = {1,2,[3,4]}
print(my_set)

TypeError: unhashable type: 'list'

In [19]:
# HOW TO CREATE AN EMPTY SET 
a = set()

#### **SET UNION**

In [21]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
print(A|B)
print(A.union(B))
print(B.union(A))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

#### **SET INTERSECTION**

In [22]:
print(A.intersection(B))
print(B.intersection(A))
print(A&B)

{4, 5}
{4, 5}
{4, 5}

#### **SET DIFFERENCE**

In [23]:
print(A-B)
print(B-A)
print(A.difference(B))
print(B.difference(A))

{1, 2, 3}
{8, 6, 7}
{1, 2, 3}
{8, 6, 7}

#### **SET SYMMETRIC DIFFERENCE**

In [24]:
print(A^B)
print(B^A)
print(A.symmetric_difference(B))
print(B.symmetric_difference(A))

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

##### EXERCISE 1: create 2 sets of electric devices and perform set operations on them

In [25]:
electric1 = {"mobile","laptop","television","pendrives"}
electric2 = {"television","laptop","washing maching","refridgerator"}
print(electric1)
print(electric2)
print(electric1.union(electric2))
print(electric1.intersection(electric2))
print(electric1.difference(electric2))
print(electric1.symmetric_difference(electric2))

{'mobile', 'pendrives', 'television', 'laptop'}
{'refridgerator', 'television', 'washing maching', 'laptop'}
{'mobile', 'pendrives', 'television', 'laptop', 'refridgerator', 'washing maching'}
{'television', 'laptop'}
{'mobile', 'pendrives'}
{'mobile', 'pendrives', 'refridgerator', 'washing maching'}

### **TUPLES, LIST AND SETS ARE INTERCONVERTIBLE**